---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
import Header from '@Components/Header.astro';
import Sidebar from '@Components/Sidebar.astro';
import ChatInterface from '@Components/ChatInterface.astro';
---

<Layout title="SipanGPT Chatbot">
	<main class="min-h-screen">
		<section class="flex h-max">
      <Sidebar />
      <div class="flex overflow-auto h-screen w-full  flex-col">
        <Header  />
        <ChatInterface />
      </div>
    </section>
	</main>
</Layout>
