---
import Layout from '../layouts/Layout.astro'
import '@/styles/globals.css'
import Header from '@Components/Header.astro'
import Sidebar from '@Components/Sidebar.astro'
import ChatInterface from '@Components/ChatInterface.astro'
import { NextUIProvider } from '@nextui-org/react'
---

<Layout title='SipánGPT Chatbot'>
  <NextUIProvider>
    <main class='flex h-screen overflow-hidden'>
      <Sidebar />
      <div class='flex flex-col w-full'>
        <Header />
        <div class='flex-grow overflow-hidden'>
          <ChatInterface />
        </div>
      </div>
    </main>
  </NextUIProvider>
</Layout>
