---
const { type, message } = Astro.props
---

<div
  class={`flex font-exo font-medium ${type === 'user' ? 'justify-end' : 'justify-start'}`}
>
  <div
    class={`max-w-3/4 p-3 rounded-lg ${type === 'user' ? 'bg-secondary text-onPrimary' : 'bg-white text-gray-900 dark:bg-gray-700 dark:text-secondary'}`}
  >
    {message}
  </div>
</div>
