---
import { marked } from 'marked'

const { type, message } = Astro.props

const formattedMessage = marked.parse(message)
---

<div
  class={`flex font-exo ${type === 'user' ? 'justify-end' : 'justify-start'}`}
>
  <div
    class={`max-w-3/4 p-3 rounded-lg ${
      type === 'user'
        ? 'bg-secondary text-onPrimary'
        : 'bg-white text-gray-900 dark:bg-gray-700 dark:text-secondary'
    }`}
  >
    <div set:html={formattedMessage} />
  </div>
</div>
