---
import ChatMessage from './ChatMessage.astro'
import UserInput from './UserInput.astro'
import { ScrollShadow } from '@nextui-org/scroll-shadow'
---

<div class='flex flex-col h-full'>
  <!-- @ts-expect-error Temporary ignore for migration -->
  <ScrollShadow client:visible size={50} className='flex-grow p-4'>
    <div class='space-y-4'>
      <ChatMessage
        type='bot'
        message=`No te preocupes. Para restablecer tu contraseña, ve a **campus.uss.edu.pe** y sigue estos pasos:\n1. Selecciona **'¿Olvidaste tu contraseña?'**.\n2. Ingresa tu **usuario** y **correo electrónico**.\n3. Recibirás un correo con un **código**.\n4. Introduce el código y podrás crear una nueva contraseña.`
      />
      <ChatMessage
        type='user'
        message=`Hola, quisiera ayuda para acceder a mi campus.`
      /><ChatMessage
        type='bot'
        message=`No te preocupes. Para restablecer tu contraseña, ve a **campus.uss.edu.pe** y sigue estos pasos:\n1. Selecciona **'¿Olvidaste tu contraseña?'**.\n2. Ingresa tu **usuario** y **correo electrónico**.\n3. Recibirás un correo con un **código**.\n4. Introduce el código y podrás crear una nueva contraseña.`
      />
      <ChatMessage
        type='user'
        message=`Hola, quisiera ayuda para acceder a mi campus.`
      /><ChatMessage
        type='bot'
        message=`No te preocupes. Para restablecer tu contraseña, ve a **campus.uss.edu.pe** y sigue estos pasos:\n1. Selecciona **'¿Olvidaste tu contraseña?'**.\n2. Ingresa tu **usuario** y **correo electrónico**.\n3. Recibirás un correo con un **código**.\n4. Introduce el código y podrás crear una nueva contraseña.`
      />
      <ChatMessage
        type='user'
        message=`Hola, quisiera ayuda para acceder a mi campus.`
      /><ChatMessage
        type='bot'
        message=`No te preocupes. Para restablecer tu contraseña, ve a **campus.uss.edu.pe** y sigue estos pasos:\n1. Selecciona **'¿Olvidaste tu contraseña?'**.\n2. Ingresa tu **usuario** y **correo electrónico**.\n3. Recibirás un correo con un **código**.\n4. Introduce el código y podrás crear una nueva contraseña.`
      />
      <ChatMessage
        type='user'
        message=`Hola, quisiera ayuda para acceder a mi campus.`
      /><ChatMessage
        type='bot'
        message=`No te preocupes. Para restablecer tu contraseña, ve a **campus.uss.edu.pe** y sigue estos pasos:\n1. Selecciona **'¿Olvidaste tu contraseña?'**.\n2. Ingresa tu **usuario** y **correo electrónico**.\n3. Recibirás un correo con un **código**.\n4. Introduce el código y podrás crear una nueva contraseña.`
      />
      <ChatMessage
        type='user'
        message=`Hola, quisiera ayuda para acceder a mi campus.`
      />
      <!-- Add more messages as needed -->
    </div>
  </ScrollShadow>
  <div class='mt-auto'>
    <UserInput />
  </div>
  <!-- <FeedbackModal /> -->
</div>
