---
import { Image } from 'astro:assets'
import ussLogo from 'public/uss_logo.webp'
import { AvatarDropdownMenu } from '@Components/react/AvatarDropdownMenu'
import { HeaderDropdownMenu } from '@Components/react/HeaderDropdownMenu'
---

<header class='sm:hidden p-4 flex justify-between items-center'>
  <h1 class='flex items-center'>
    <Image
      src={ussLogo}
      alt='USS Logo'
      width={ussLogo.width / 18}
      densities={[1.5, 2]}
      class='dark:invert'
    />
    <HeaderDropdownMenu client:load />
  </h1>

  <AvatarDropdownMenu
    client:load
    src='https://github.com/jhangmez.png'
    alt='jhangmez'
    fallbackText='Jhan'
  />
</header>
